sudo: false

language: python

python:
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"

cache: apt

addons:
  apt:
    packages:
    - liblapack-dev

before_install:
  - wget http://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - conda update --yes conda

install:
  - pip install -r requirements.dev.txt

script:
  - pytest --verbose --cov=prince tests/

after_success:
  - coveralls
