[tool.poetry]
name = "prince"
version = "0.13.0"
description = "Factor analysis in Python: PCA, CA, MCA, MFA, FAMD, GPA"
authors = ["Max Halford <maxhalford25@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.9"
scikit-learn = "^1.0.2"
pandas = "^1.4.1 || ^2.0.0"
altair = "^4.2.2 || ^5.0.0"

[tool.poetry.group.dev.dependencies]
nbconvert = "^7.2.9"
fbpca = "^1.0"
pytest = "^7.1.1"
ipykernel = "^6.13.0"
rpy2 = "^3.5.2"
black = {version = "^22.3.0", allow-prereleases = true}
ruff = "^0.0.270"
pre-commit = "^3.3.2"
xarray = "^2023.11.0"

[tool.black]
line-length = 100
target-version = ['py310']

[tool.ruff]
select = ["E", "F", "I", "UP"]  # https://beta.ruff.rs/docs/rules/
line-length = 100
target-version = 'py310'
ignore = ["E501"]

[tool.ruff.isort]
required-imports = ["from __future__ import annotations"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = [
    "--verbose",
    "--doctest-modules",
    "--doctest-glob=*.md"
]
doctest_optionflags = "NORMALIZE_WHITESPACE NUMBER ELLIPSIS"
