[tool.poetry]
name = "prince"
version = "0.10.4"
description = "Factor analysis in Python: PCA, CA, MCA, MFA, FAMD, GPA"
authors = ["Max Halford <maxhalford25@gmail.com>"]
license = "MIT"

[tool.poetry.dependencies]
python = "^3.8"
scikit-learn = "^1.0.2"
pandas = "^1.4.1 || ^2.0.0"
altair = "^4.2.2"

[tool.poetry.group.dev.dependencies]
nbconvert = "^7.2.9"
fbpca = "^1.0"
pytest = "^7.1.1"
ipykernel = "^6.13.0"
rpy2 = "^3.5.2"
black = {version = "^22.3.0", allow-prereleases = true}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
addopts = [
    "--verbose",
    "--doctest-modules",
    "--doctest-glob=*.md"
]
doctest_optionflags = "NORMALIZE_WHITESPACE NUMBER ELLIPSIS"
